services:
  app:
    build:
      context: .
      dockerfile: .docker/php/Dockerfile
    container_name: center_ferramentas_app
    ports:
      - "${APP_PORT}:80"
    volumes:
      - .:/var/www/html
    depends_on:
      - db
    environment:
      - DB_HOST=${DB_HOST}
      - DB_NAME=${MYSQL_DATABASE}
      - DB_USER=${MYSQL_USER}
      - DB_PASS=${MYSQL_PASSWORD}
      - APP_ADMIN_NAME=${ADMIN_NAME}
      - APP_ADMIN_EMAIL=${ADMIN_EMAIL}
      - APP_ADMIN_PASS=${ADMIN_PASSWORD}
    command: sh -c "php database/seed.php && apache2-foreground"

  db:
    image: mysql:8.0
    container_name: center_ferramentas_db
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql
      - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  db_data:
