
nav {
    background-color: #003366;
    height: 100px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-color: #EAEAEA;
}



.caixa-promocao {
    border: 2px solid #FF6600;
    border-radius: 10px;
    background: linear-gradient(360deg, #003366, #004c99);
    padding: 15px;
}

.carousel {
    padding: 0 !important;
    background: transparent;
    border: none;
    align-items: center;
    color: #FFFFFF;
}

.carousel-item img:hover {
    transform: scale(1.1);
}

.carousel-item img {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: contain;
    transition: transform 1s ease;
}

.carousel-item.active img {
    transform: scale(1.05);
}

.carousel-control-prev,
.carousel-control-next {
    width: 7%;
    filter: invert(1);
}
.carousel-control-prev {
    background-image: none !important;
    background-size: contain;
}
.carousel-control-next {
    background-image: none !important;
    background-size: contain;
}




.logo {
    width: 100px;
    margin-left: 25px;
    margin-top: 5px;
}

.barra-pesquisa {
    height: 50px;
    border-radius: 80px;
    width: 100%;
    margin-top: 20px;
    margin-left: 10px;
}

.perfil {
    width: 60px;
    float: right;
    margin-right: 50px;
    margin-top: 20px;
}

.compras {
    width: 60px;
    float: right;
    margin-right: 40px;
    margin-top: 20px;
}